/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: #EDEFF0;
 }

.wrapper {
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix:after, .clearfix:before{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.main_header {
    width: 100%;
    margin: 0 auto;
    background: white;
    #logo {
        p{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            float: left;
        }
    }
    #buttons{
        a{
            line-height: 60px;
            background: #397CAC;
            padding: .5rem 1rem;
            border-radius: 0.2rem;
            color: white;
            text-decoration: none;
            font-weight: 100;
        }
        float: right;
    }
}

#posts{
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    .post{
        margin: 1em 0;
        padding: 1em 0;
        border-bottom: 1px solid #d1d1d1;
        .title{
            margin: 0;       
            a{
                font-weight: 200;
                color: #397CAC;
                text-decoration: none;
                font-size: 2rem;   
            } 
        }
        .content{
            margin-top: 0.25rem;
            text-align: justify;
            // color: #6F5F5F;
            font-size: 1rem;
        }
        .date{
            margin-top: 8px;
            color: #606060;
        }
    }
}

.post_content{
    background: white;
    border-radius: .5em;
    padding: 2em 5%;
    h1{
        font-weight: 100;
        color: #397CAC;
        font-size: 2em;
        margin-top: 0;
    }
    p{
        color: rgb(97, 100, 104);
        font-size: 0.9 rem;
        font-weight: 100;
        line-height: 1.3;
    }
}